# MySql
MOOC_DATABASE_HOST=
MOOC_DATABASE_PORT=
MOOC_DATABASE_NAME=
MOOC_DATABASE_USER=
MOOC_DATABASE_PASSWORD=


BACKOFFICE_DATABASE_HOST=
BACKOFFICE_DATABASE_PORT=
BACKOFFICE_DATABASE_NAME=
BACKOFFICE_DATABASE_USER=
BACKOFFICE_DATABASE_PASSWORD=


#. Backoffice #
BACKOFFICE_FRONTEND_SERVER_PORT=8090
BACKOFFICE_BACKEND_SERVER_PORT=8091

# Mooc
MOOC_FRONTEND_SERVER_PORT=8081
